<?xml version="1.0" encoding="UTF-8"?>
<myGenerator>
    <mongo id="mongo1" host="localhost" auth="false" port="27017" username="tincery" password="Txy123.com"
           source="secret_reconnaissance_pro">
        <database name="tincery_pro">
            <collection name="test" scannerCount="561" repetitionStrategy="map" primaryPackage="com.sadf" template="t1,t2"/>
        </database>
    </mongo>



    <template id="t1" name="TestController" package="controller">
            public  #{dbname} class{
            #{dbname}
        }
    </template>

    <template id="t2" name="TestService" package="service">
        public AA class{
        #{dbname}
        }
    </template>
</myGenerator>
